.info{
	font-size: 0.9em;
	font-style: italic;
	border: 1px solid orange;
	display: block;
	padding:5px 15px;
	width: 250px;
	margin: 0 auto;
	text-indent: 0;
}

.message.success{
	color: green;
}
.message.error{
	color: red;
}
.message.error, .message.success{
	display: none;
}

.student-item strong:before{
	content: 'Name: ';
}

.student-item span:before{
	content: ', Grade: ';
}
ul li {
	list-style-type: none;
}
.selected {
	padding-left:20px; 
}
div div  {
	border-bottom : 1px solid black;
}
#wrapper {
	width : 500px;
}