header, nav, section, article, aside, footer {
display:block;
}
body	{
background-color:#444444;
color:#aaaaaa;
font-size:13px;
border:1px solid #222222;
border-radius:15px;
width:700px;
font-weight:900;
}
h1	{
color:rgb(218, 215, 77);
font-size:25px;
}
header	{
overflow:hidden;
height:70px;
background: #5c6566; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzVjNjU2NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM3JSIgc3RvcC1jb2xvcj0iIzRhNTA1NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyODM0M2IiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #5c6566 0%, #4a5054 37%, #28343b 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5c6566), color-stop(37%,#4a5054), color-stop(100%,#28343b)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #5c6566 0%,#4a5054 37%,#28343b 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #5c6566 0%,#4a5054 37%,#28343b 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #5c6566 0%,#4a5054 37%,#28343b 100%); /* IE10+ */
background: linear-gradient(to bottom,  #5c6566 0%,#4a5054 37%,#28343b 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c6566', endColorstr='#28343b',GradientType=0 ); /* IE6-8 */

}
label 	{
margin-left:40px;
color:white;
font-size:20px;
font-weight:900;
}
strong 	{
color:white;
font-weight:100;
}
section	{
padding-right:50px;
padding:15px;
}
img	{
width:40px;
height:40px;
position:relative;
top:10px;
left:15px;
}
input	{
margin:10px;
color:black;
}
input[placeholder], [placeholder], *[placeholder] {
color:black !important;
}
a 	{
background-image:url("http://www.wired.com/images_blogs/threatlevel/2010/03/red_button.png");
background-size:60px 30px;
background-position:center; 
color:#FCDCDC;
font-size:20px;
display:inline-block;
width:60px;
height:30px;
text-align:center;
vertical-align:middle;
}