/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13.03.2015, 23:01:19
    Author     : 888
*/
@import url(../css/960_24_col_responsive.css);
body {
  font-size: 15px;
  font-family: Verdana, Geneva, sans-serif;
  background-color: #ffffff;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  /*h1 {
      font-size: 3em;
  }
  h2{
      font-size: 2em;
  }
  h3{
      font-size: 1.6em;
  }
  h4{
      
  }*/ }
  body h1, body h2, body h3, body h4, body h5, body h6, body .header-info p {
    font-family: Franklin Gothic Medium, Impact, Charcoal, sans-serif;
    color: #fff; }
  body .header-wrapper {
    padding-bottom: 10px;
    overflow: hidden;
    background-color: #12212f; }
    body .header-wrapper .logo {
      margin-top: 15px; }
    body .header-wrapper .header-info {
      margin-top: 15px; }
    body .header-wrapper .site-title {
      line-height: 1.1em; }
  body .menu_wrapper {
    margin-top: 0px;
    padding-top: 0px;
    display: block;
    background-image: none;
    background-color: #000;
    margin-top: 0px;
    padding-top: 0px; }
    body .menu_wrapper .top-search .searchform {
      width: 90%;
      margin-left: 5%;
      margin-right: 5%; }
  body .page-content-container .circle-content div {
    margin-left: 0px; }
  body .page-content-container .slider-wrapper {
    margin-top: 0px;
    padding-top: 0px; }
    body .page-content-container .slider-wrapper .flexslider {
      z-index: 2; }
      body .page-content-container .slider-wrapper .flexslider .flex-caption {
        overflow: hidden;
        text-overflow: ellipsis;
        height: auto;
        width: 98%;
        padding-left: 1%;
        padding-right: 1%;
        top: auto;
        left: 0px;
        bottom: 0px;
        right: 0px;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        filter: alpha(opacity=50);
        opacity: .5;
        text-align: left;
        text-justify: none; }
        body .page-content-container .slider-wrapper .flexslider .flex-caption p {
          color: #ffffff; }
  body .sidebar {
    background-color: #343434; }
  body p {
    margin-bottom: 10px; }
  body .excerpt p {
    margin-top: 20px; }
  body hr {
    border: 1px solid lightgray; }
  body p.cell {
    color: red; }
  body .content-bar .post .post_content img.postimg {
    height: auto;
    /* Make sure images with WordPress-added height and width attributes are scaled correctly */
    max-width: 95%;
    width: auto; }
  @media only screen and (min-width: 767px) {
    body .page-content {
      position: relative;
      background-image: url("../images/background-cut2.jpg");
      background-position: right -60px;
      background-repeat: repeat-y; }
      body .page-content > .grid_8 {
        position: absolute;
        top: 0px;
        bottom: 0px; }
      body .page-content .feature-content-inner {
        max-width: 100%; }
    body .sidebar {
      position: absolute;
      top: 0px;
      right: 0px;
      width: 60%;
      height: 300px;
      padding-top: 10px; } }

/*# sourceMappingURL=style.css.map */
