<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.php.debug.core.launching.webPageLaunch">
<booleanAttribute key="auto_generated_url" value="false"/>
<stringAttribute key="base_url" value="http://localhost:8080/UserInput/PHP/modules/logintab.php"/>
<stringAttribute key="debugOutputEncoding" value="UTF-8"/>
<stringAttribute key="debugTransferEncoding" value="UTF-8"/>
<stringAttribute key="file_name" value="/UserInput/modules/logintab.php"/>
<booleanAttribute key="firstLineBreakpoint" value="true"/>
<stringAttribute key="name" value="wamp"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/UserInput/modules/logintab.php"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.php.debug.core.OpenInBrowser" value="true"/>
<stringAttribute key="org.eclipse.php.debug.core.PHP_Project" value="/UserInput"/>
<booleanAttribute key="org.eclipse.php.debug.core.RunWithDebugInfo" value="true"/>
<stringAttribute key="org.eclipse.php.debug.coreconfiguration_delegate_class" value="org.eclipse.php.internal.debug.core.launching.XDebugWebLaunchConfigurationDelegate"/>
<stringAttribute key="org.eclipse.php.debug.corephp_debugger_id" value="org.eclipse.php.debug.core.xdebugDebugger"/>
</launchConfiguration>
